<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>910402792961-3b8gsqbkftuhmsck48ede6inb4bv86hd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910402792961-3b8gsqbkftuhmsck48ede6inb4bv86hd</string>
	<key>API_KEY</key>
	<string>AIzaSyBIAwt6HVO5XH_RtQBzusiUf-vj0nQRYaY</string>
	<key>GCM_SENDER_ID</key>
	<string>910402792961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>likelion.hackathon.starcket</string>
	<key>PROJECT_ID</key>
	<string>starcket-8e319</string>
	<key>STORAGE_BUCKET</key>
	<string>starcket-8e319.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910402792961:ios:f690c68c2565a8b15ada00</string>
</dict>
</plist>