<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key> LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.910402792961-3b8gsqbkftuhmsck48ede6inb4bv86hd</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao{KAKAO_NAVTIVE_APP_KEY}</string>
			</array>
		</dict>
	</array>
	<key>KAKAO_NAVTIVE_APP_KEY</key>
	<string>${KAKAO_NAVTIVE_APP_KEY}</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>KNPSKkomi.otf</string>
		<string>Pretendard-Regular.otf</string>
		<string>Pretendard-Black.otf</string>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-Light.otf</string>
		<string>Pretendard-ExtraBold.otf</string>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-Thin.otf</string>
		<string>Pretendard-ExtraLight.otf</string>
		<string>Pretendard-SemiBold.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array/>
</dict>
</plist>
